@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 IE11 */
    section{
        font-size: 0;
    }
    article{
        display: inline-block;
        font-size: 14px;
        margin-right: 85px;
         
    }
    article:last-child{
        margin-right: 0;
    }
    nav select::-ms-expand { 
        display: none; /* hide the default arrow in ie10 and ie11 */
    }
 }